canvas {
    margin: auto;
    position: absolute;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px red dashed;
}

h1 {
    color: red;
    position: relative;
    padding: 0;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h2 {
    color: red;
    position: relative;
    padding: 0;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: black;
}